.psw-less-btn{
    color: rgb(87, 87, 87);
    border: none;
    margin-top: 2%;
    background-color: rgb(214, 214, 214);
    padding: 13px 22px 13px 22px;
}

.psw-less-btn:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgb(202, 202, 202);
    margin-top: 2%;
    background-color: rgb(138, 136, 136);
}